// .about : Conteneur principal de la section "About"
.about {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    flex-grow: 1;
    gap: 20px;

    // .about-title : Styles appliqués au titre dans la section "About"
    .about-title {
        width: 50%;
        margin: 0;
        font-size: 50px;
        font-weight: 300;
        line-height: 100px;
        text-align: center;
        position: relative;
        left: -100vw;
        color: white;

        // Transition lorsque la classe "visible" est ajoutée à .about-title
        &.visible {
            transform: translateX(100vw);
            transition: transform 2s ease;
        }

        // Pour les écrans avec une largeur maximale de 1024px (tablettes)
        @media (max-width: 1024px) {
            font-size: 40px;
        }

        // Pour les écrans avec une largeur maximale de 768px (téléphones mobiles)
        @media (max-width: 768px) {
            font-size: 30px;
            width: 100%;
        }
    }

    /* .about-content - Styles généraux */
    .about-content {
        width: 50%;

        /* .about-title et .about-text Propriétés partagées */
        .about-title,
        .about-text {
            color: white;
        }

        .about-text {
            font-size: 18px;
            margin: 0;
            text-align: justify;
            opacity: 0;
            transition: opacity 3s ease-in-out;

            &.visible {
                opacity: 1;
            }

            /* Media queries pour .about-text */
            @media (max-width: 1024px) {
                font-size: 16px;
                padding: 10px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        @media (max-width: 768px) {
            width: 80%;
        }
    }

    /* Styles responsive pour .about */
    @media (max-width: 1024px) {
        align-items: flex-end;
        gap: 0;
    }

    @media (max-width: 768px) {
        align-items: center;
    }
}
