.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    gap: 20px;

    .about-title {
        width: 50%;
        margin: 0;
        font-size: 50px;
        font-weight: 300;
        line-height: 100px;
        text-align: center;
        color: white;

        @media (max-width: 1024px) {
            font-size: 40px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
            width: 100%;
        }
    }

    .about-content {
        width: 50%;

        .about-title,
        .about-text,
        .about-list {
            color: white;
        }

        .about-text {
            font-size: 18px;
            margin: 0;
            text-align: justify;

            @media (max-width: 1024px) {
                font-size: 16px;
                padding: 10px;
            }

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        @media (max-width: 768px) {
            width: 90%;
        }
    }

    /* Responsive styles */
    @media (max-width: 1024px) {
        align-items: flex-end;
        gap: 0;
    }

    @media (max-width: 768px) {
        align-items: center;
    }
}
