// Conteneur principal du formulaire de contact
.contact {
    width: 100%;
    height: 100svh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Formulaire de contact
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        gap: 20px;

        // Titre du formulaire
        .form-title {
            width: 50%;
            margin: 0;
            font-size: 50px;
            font-weight: 300;
            line-height: 100px;
            text-align: center;
            opacity: 0;
            color: white;
            transition: opacity 2s ease;

            // Transition lorsque la classe "visible" est ajoutée
            &.visible {
                opacity: 1;
            }

             // Media queries pour le titre
            @media (max-width: 1024px) {
                font-size: 40px;
            }

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        // Contenu du formulaire (les champs du formulaire et le bouton de soumission)
        .form-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            gap: 20px;
            opacity: 0;
            transition: opacity 3s ease-in-out;

            // Opacité lorsque la classe "visible" est ajoutée
            &.visible {
                opacity: 1;
            }

            // Champs de saisie du formulaire et message
            .form-input,
            .form-message {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 30vw;

                .form-label {
                    font-weight: 500;
                    color: white;
                    font-size: 16px;

                    // Media queries pour le label
                    @media (max-width: 768px) {
                        font-size: 16px !important;
                    }
                }

                textarea {
                    height: 150px;
                    font-size: 16px;
                }

                // Media queries pour la zone de saisie du message
                @media (max-width: 1024px) {
                    width: 50vw;
                }

                @media (max-width: 768px) {
                    width: 80vw;
                }
            }

            // Bouton de soumission du formulaire
            .form-submit {
                display: flex;
                align-items: center;
                gap: 10px;

                .form-submit--button {
                    font-size: 18px;
                    font-weight: 500;
                    padding: 3px 12px;
                    text-align: center;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-right: 1px solid white;
                    color: white;
                    transition: ease 0.5s;

                    // Styles au survol du bouton de soumission du formulaire
                    &:hover {
                        border: 1px solid white;
                        cursor: pointer;
                    }
                    // Media querie pour le bouton de soumission du formulaire
                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                }
            }

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        // Message de succès à la soumission du formulaire
        .success-message {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 10px;
            background-color: black;
            border: 1px solid white;
            font-weight: 500;

            // Media queries pour la fenêtre du message de succès
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        // Bouton fermer
        .close-button {
            background-color: black;
            border: 1px solid transparent;
            border-right: 1px solid white;
            color: white;
            font-size: 15px;
            font-weight: 500;
            padding: 0 10px;
            transition: border 0.7s ease;

            //Styles au survol du bouton fermer
            &:hover {
                border: 1px solid white;
                cursor: pointer;
            }
        }

        // Loading spinner
        .loading-spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            border-top: 4px solid #3498db;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;

             // Media queries pour le loading spinner
            @media (max-width: 1024px) {
                width: 30px;
                height: 30px;
            }

            @media (max-width: 768px) {
                width: 25px;
                height: 25px;
            }
        }

         // Media querie pour le formulaire de contact
        @media (max-width: 768px) {
            align-items: center;
        }

        // Animation spin - Définition de l'animation du loading spinner
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
