// Style général du header
header {
    margin: 0 auto;
    max-width: 1440px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s ease, background-color 0.3s ease;

    //Quand la classe 'visible' est ajoutée au header
    &.visible {
        top: 0;
    }
    // Quand la classe 'visible' n'est pas présente
    &:not(.visible) {
        top: -100px;
    }

    // Quand la classe 'background-on' est ajoutée
    &.background-on {
        background-color: black;
    }

    // Quand la classe 'background-on' n'est pas présente
    &:not(.background-on) {
        background-color: transparent;
    }

    //Styles pour la barre de navigation à l'intérieur du header
    .header-navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 7vh;
        transition: height 0.3s ease;

        // Media query pour les écrans avec une largeur maximale de 1024px (tablettes)
        @media (max-width: 1024px) {
            padding-right: 20px;
        }

        // Media query pour les écrans avec une largeur maximale de 768px (smartphones)
        @media (max-width: 768px) {
            height: 100%;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    // Media query pour les écrans avec une largeur maximale de 768px (smartphones)
    @media (max-width: 768px) {
        height: 100%;
        width: 50%;
        margin: 0;

        // Quand la classe 'background-on' est présente
        &.background-on {
            width: 100%;
            height: 7svh;
        }
    }
}
