.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    gap: 20px;

    .arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        position: absolute;
        top: auto;
        left: 45%;
        animation: move 2s ease-in-out infinite;

        .arrow-line {
            height: 25px;
            width: 1px;
            border-left: 2px dashed white;
        }

        .arrow-head {
            font-size: 24px;
            font-weight: 400;
        }

        @media (max-width: 800px) {
            left: 95%;
        }
    }

    @keyframes move {
        0% {
            transform: translateY(-200px);
        }

        100% {
            transform: translateY(200px);
        }
    }

    .home-content {
        display: flex;
        align-items: flex-start;
        width: 50%;

        .home-text {
            font-size: 18px;
            font-weight: 300;
            text-align: justify;
            color: white;

            @media(max-width: 1500px) {
                font-size: 16px;
                font-weight: 400;
                padding-right: 20px;
                background-color: rgba(0, 0, 0, 0.5);
            }

            @media(max-width: 800px) {
                text-align: left;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        @media (max-width: 800px) {
            width: 90%;
        }
    }
}
