.navbar {
    width: 50%;

    .navbar-hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        .line {
            width: 25px;
            height: 3px;
            margin: 4px 0;
            background-color: white !important;
            transition: transform 0.5s ease, opacity 0.5s ease;

            &:nth-child(1),
            &:nth-child(3) {
                transform: rotate(0) translate(0, 0);
            }

            &:nth-child(2) {
                opacity: 1;
            }
        }

        &.open .line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(0, 15px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(0, -15px);
            }
        }
    }

    .navbar-links {
        display: flex;
        justify-content: space-between;
        transition: transform 0.5s ease;

        &.open {
            transform: translate(10px);
        }

        .navbar-link {
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            padding: 3px 12px;
            color: white;
            border: 1px solid transparent;
            border-right: 1px solid white;
            transition: border 0.7s ease;

            &:hover,
            &:focus,
            &.active {
                border: 1px solid white;
            }
        }
    }

    /* Responsive styles */
    @media (max-width: 1024px) {
        .navbar-links .navbar-link {
            font-size: 16px;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        padding-left: 20px;

        .navbar-hamburger {
            display: flex;
        }

        .navbar-links {
            width: 120px;
            flex-direction: column;
            gap: 10px;
            transform: translate(-150px);

            .navbar-link {
                font-size: 16px;
                width: 80px;
            }
        }
    }
}
