// Style principal pour l'écran de "page non trouvée" ou erreur 404
.nopage {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 100svh;
    gap: 20px;
    padding-right: 25px;

    // Style pour le nombre affiché (par exemple, "404")
    .number,
    .oups {
        font-family: 'audiowide';
        color: white;
    }

    // Style spécifique pour le nombre (grande taille de texte)
    .number {
        font-size: 33vh;
        margin: 0;

        // Media queries pour ajuster la taille du texte sur les écrans plus petits
        @media (max-width: 1024px) {
            font-size: 25svh;
        }

        @media (max-width: 768px) {
            font-size: 10svh;
        }
    }

    // Style pour le message "Oups"
    .oups {
        font-size: 50px;

        // Media queries pour ajuster la taille du texte sur les écrans plus petits
        @media (max-width: 1024px) {
            font-size: 30px;
        }

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    // Media query pour les écrans jusqu'à 768px (smartphones)
    @media (max-width: 768px) {
        align-items: center;
    }
}
