.project-one, .project-two {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50svh;
    width: 100%;
    position: relative;
    transform:translateY(100svh);
    background-color: white;
    border: 1px solid black;
    z-index: 10;

    .project-one--title, .project-two--title {
        font-size: 20px;
        font-weight: 500;
        position: absolute;
        bottom: 0;
        padding: 3px 12px;
        color: black;
        border: 1px solid black;

        &.isVisible {
            transition: transform 3s ease;
        }

        &:not(.isVisible) {
            transform: translateX(-100vw);
            transition: transform 3s ease;
        }
    }

    .project-one--project, .project-two--project {
        height: 20vh;
        width: 15vw;
        position: relative;
        left: 100vw;
        border: 1px solid black;

        &.isVisible {
            transform: translateX(-100vw);
            transition: transform 3s ease;
        }
    

        &:not(.isVisible) {
            
            transition: transform 3s ease;
        }
    }
}
