// Style général de la section "projects" (Page d'accueil)
.projects-one, .projects-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:relative;
    height: 100svh;
    padding: 0 20px;
    gap: 5svh;
    transform: translateY(100svh);
    background-color: rgb(248, 249, 249);

    // Styles communs aux projets
    .project-one,
    .project-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        // Styles communs pour les titres des projets
        .project-one--title,
        .project-two--title {
            font-size: 18px;
            font-weight: 500;
            position: relative;
            margin: 0;
            padding: 3px 12px;
            color: black;
            border: 1px solid black;
            transition: transform 3s ease;

            // Quand la classe 'visible' est ajoutée
            &.isvisible {
                transform: translateX(0);
            }

            // Quand la classe 'visible' n'est pas présente
            &:not(.isvisible) {
                transform: translateX(-100vw);
            }
            // Media query pour les écrans avec une largeur maximale de 768px (smartphones)
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        .project-two--title {
            color: white;
            border: 1px solid white;
        }

        // Conteneur pour le contenu d'un projet
        .all-pics {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            position: relative;

            // Conteneur pour les images des projets
            .project-one--image,
            .project-two--image {
                border-radius: 10px;
                overflow: hidden;

                // Style pour les images cliquables
                .clickable-image {
                    height: 100%;
                    width: 90%;
                    padding: 5px;
                    object-fit: cover;
                    border-radius: 10px;
                    filter: grayscale(90%);
                    border: 2px solid black;
                    opacity: 0; 
                    transform: translateX(100%);
                    pointer-events: none;
                    transition: 
                        transform 1.5s ease-out, 
                        opacity 1.5s ease-out;
                    
                    /* Quand l'image devient visible */
                    &.isVisible {
                        opacity: 1;
                        transform: translateX(0);
                        pointer-events: auto;
                    }

                    &:not(.isVisible) {
                        opacity: 0;
                        transform: translateX(100%);
                        pointer-events: none; 
                        transition: 
                            opacity 0.3s ease-out, 
                            transform 0.5s ease-out;
                    }

                    /* Délai d'apparition des images */
                    &.delay-0 { transition-delay: 0s; }
                    &.delay-1 { transition-delay: 1s; }
                    &.delay-2 { transition-delay: 1.5s; }
                    &.delay-3 { transition-delay: 2s; }

                    /* Effet au survol */
                    &:hover {
                        cursor: pointer;
                        filter: grayscale(0%); 
                    }

                    // Adaptation pour les petits écrans
                    @media (max-width: 768px) {
                        padding: 2px;
                    }
                }

                // Style pour les titres des images
                .clickable-image--title {
                    font-size: 15px;
                    color: white;
                }
            }

            .project-two--image .clickable-image {
                border: 1px solid white;
            }
        }

        // Adaptation pour les petits écrans
        @media (max-width: 768px) {
            height: 18svh;
        }
    }

    // Style pour la fenêtre modale
    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100svw;
        height: 95svh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;

        // Contenu de la modale
        .modal-content {
            text-align: center;

            .modal-image--name,
            .caption {
                font-size: 18px;
                font-weight: 500;
                color: white;

                // Adaptation pour les écrans moyens
                @media (max-width: 1024px) {
                    font-size: 16px;
                }
                
                // Adaptation pour les petits écrans
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }

            // Image affichée dans la modale
            .modal-image {
                width: 80%;
            }
        }
    }

    // Bouton pour fermer la modale
    .close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 4rem;
        color: white;
        cursor: pointer;
    }

    // Boutons pour naviguer entre les images
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        color: white;
        background: none;
        border: none;

        // Bouton précédent
        &.prev {
            left: 20px;
        }

        // Bouton suivant
        &.next {
            right: 20px;
        }
    }

    // Conteneur pour le texte des projets
    .projects-one--content, .projects-two--content {
        text-align: center;
        width: 80%;

        // Texte des projets
        .project-one--text, .project-two--text {
            font-size: 18px;
            font-weight: 450;
            margin: 0;

            // Adaptation pour les écrans moyens
            @media (max-width: 1024px) {
                font-size: 16px;
            }

            // Adaptation pour les petits écrans
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }

        .project-one--text {
            color: black;
        }

        .project-two--text {
            color: white;
        }
    }
}

.projects-one {
    z-index: 10;

    &.isFixed {
        position: fixed;
        top: -100vh;
        max-width: 1440px;
    }
}

.projects-two {
    position:relative;
    transform: translateY(200svh);
    z-index: 20;
    background-color: rgba(30, 30, 30, 1);
}
