.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
    gap: 20px;

    .skills-title {
        width: 50%;
        margin: 0;
        font-size: 50px;
        font-weight: 300;
        line-height: 100px;
        text-align: center;
        color: white;
    }

    .skills-content {
        width: 50%;
        color: white;
        padding-right: 10px;

        .skills-title,
        .skills-text,
        .skills-list {
            margin: 0;
        }

        .skills-text,
        .skills-list {
            font-size: 18px;
            text-align: justify;
            padding-bottom: 10px;
        }
    }

    /* Responsive styles */
    @media (max-width: 1500px) {
        .skills-title {
            font-size: 40px;
        }

        .skills-content {
            .skills-text,
            .skills-list {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 800px) {
        align-items: center;

        .skills-title {
            width: 100%;
        }

        .skills-content {
            width: 90%;

            .skills-text,
            .skills-list {
                font-size: 14px;
            }
        }
    }
}
