.skills {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    flex-grow: 1;
    gap: 20px;

    // Style pour le titre de la section "skills"
    .skills-title {
        width: 50%;
        margin: 0;
        font-size: 50px;
        font-weight: 300;
        line-height: 100px;
        text-align: center;
        position: relative;
        left: -100vw;
        color: white;
        transition: transform 2s ease;

        // Quand la classe 'visible' est ajoutée
        &.visible {
            transform: translateX(100vw);
        }
    }

    // Conteneur pour le contenu de la section "skills"
    .skills-content {
        width: 50%;
        color: white;
        padding-right: 10px;

        // Style partagé pour le titre, le texte et la liste
        .skills-title,
        .skills-text,
        .skills-list {
            margin: 0;
        }

        // Style commun pour le texte et la liste
        .skills-text,
        .skills-list {
            font-size: 18px;
            text-align: justify;
            padding-bottom: 10px;
            opacity: 0;
            transition: opacity 3s ease-in-out;

            // Quand la classe 'visible' est ajoutée
            &.visible {
                opacity: 1;
            }
        }
    }

    /* Styles réactifs pour les écrans de différentes tailles */
    // Pour les écrans de largeur inférieure ou égale à 1024px.
    @media (max-width: 1024px) {
        .skills-title {
            font-size: 40px;
        }

        .skills-content {
            .skills-text,
            .skills-list {
                font-size: 16px;
            }
        }
    }

    // Pour les écrans de largeur inférieure ou égale à 768px.
    @media (max-width: 768px) {
        align-items: center;

        .skills-title {
            width: 100%;
        }

        .skills-content {
            width: 80%;

            .skills-text,
            .skills-list {
                font-size: 14px;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
