.typing-effect {
    width: 50%;
    height: 20svh;

    .typing-area {
        margin: 0;
        width: 30svw;

        .typing-area--text,
        .typed-cursor {
            font-size: 50px;
            font-weight: 300;
            line-height: 50px;
            color: white;
        }
    }

    /* Responsive styles */
    @media (max-width: 1024px) {
        height: 145px;

        .typing-area {
            width: 100%;
            .typing-area--text,
            .typed-cursor {
                font-size: 40px;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    @media (max-width: 768px) {
        width: 90%;
        height: 200px;

        .typing-area {
            width: 55%;
            .typing-area--text,
            .typed-cursor {
                font-size: 30px;
            }
        }
    }

    @media (max-width: 1024px) {
        height: 25vh;
    }
}
