@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.container {
    box-sizing: border-box;
    padding-right: 10vh;
    font-family: 'Fira Code', monospace;

    @media(max-width: 1500px) {
        padding-right: 20px;
    }

    @media(max-width: 800px) {
        padding-right: 0;
    }
}

body {
    background-image: url('../images/landing_page.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    @media(max-width: 800px) {
        background-position: revert;
    }
}

