@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.container {
    box-sizing: border-box;
    padding-right: 10vh;
    font-family: 'Fira Code', monospace;

    @media(max-width: 1024px) {
        padding-right: 20px;
    }

    @media(max-width: 768px) {
        padding-right: 0;
    }
}

body {
    background: linear-gradient(to left, #414345, #232526);
}

#root {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/assets/images/landing_page.webp');
    max-width: 1920px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    @media (max-width: 768px) {
        gap: 20px;
    }
}

