// Importation des polices depuis Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

// Conteneur principal : définit les styles généraux pour la classe .container
.container {
    box-sizing: border-box;
    padding-right: 10vh;
    font-family: 'Fira Code', monospace;

    // Pour les écrans avec une largeur maximale de 1024px (desktop)
    @media (max-width: 1024px) {
        padding-right: 20px;
    }

     // Media query pour les écrans avec une largeur maximale de 768px (smartphones et tablettes)
    @media (max-width: 768px) {
        padding-right: 0;
    }
}

// Style général du body
body {
    background: black;
}

// Styles appliqués à l'élément #root
#root {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    background-image: url('/assets/images/landing_page.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

   // Media query pour les écrans avec une largeur maximale de 768px (smartphones et tablettes)
    @media (max-width: 768px) {
        gap: 20px;
    }
}
