.typing-effect {
    width: 50%;
    

    .typing-area {
        margin: 0;
        height: 110px;       
        
        .typing-area--text, .typed-cursor {
            font-size: 50px;
            font-weight: 300;
            line-height: 50px;
            color: white;

            @media(max-width: 1500px) {
                font-size: 40px;
                background-color: rgba(0, 0, 0, 0.5);
            }

            @media(max-width: 800px) {
                font-size: 30px;     
            }
            
        }

        @media(max-width: 1500px) {
            width: 100%;
        }

        @media(max-width: 800px) {
            width: 100%;
        }
    }

    @media(max-width: 800px) {
        width: 90%;
    }
}





 